<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Chats</h2>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <hr>
    <% for (let chat of chats){ %>
    <div class="chat">
        <p> From : <%= chat.from %></p>

        <div class="msg">
            <p>Message : <%= chat.msg %></p>
        </div>
        <p>To : <%= chat.to %></p>

        <p>Time : <%= chat.created_at.toString().split(" ")[4] %></p>
        <p>Date : <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
    </div>
    <br><br>
    <% } %>
</body>
</html>

